/* Page Style */

* {
    margin: 0;
    box-sizing: border-box;
    cursor: default;
    color: #000000;
    font-size: 10px;
}

body {
    background-color: rgba(180, 248, 200, 0.2);
    min-width: 350px;
}

::-webkit-scrollbar {
    width: 0px;
}

.link {
    cursor: pointer;
    background-color: rgba(180, 248, 200, 0.2);
    box-shadow: 0 0 10px #cccccc;
}

.link:hover {
    color: #FFAEBC;
    background-color: rgba(251, 231, 198, 0.5);
}

.flexbox {
    display: flex;
    align-items: center;
}

.box {
    background-color: rgba( 160, 231, 229, 0.2);
    padding: 10px 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px #cccccc;
    border-radius: 25px;
}

.textField {
    background-color: rgba(180, 248, 200, 0.2);
    box-shadow: 0 0 10px #cccccc;
    padding: 7px 10px;
    border-radius: 25px;
}

button {
    background-color: rgba(180, 248, 200, 0.2);
    box-shadow: 0 0 10px #cccccc;
    padding: 5px 10px;
    border: 0;
    border-radius: 25px;
}


/* Header Style */

header {
    background-color: rgba( 160, 231, 229, 0.2);
    box-shadow: 1px 0px 10px #cccccc;
    width: auto;
    height: 68px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#webName {
    padding-left: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    display: none;
    white-space: nowrap;
}

.icon {
    height: 52px;
    width: 52px;
    margin: 5px;
    border-radius: 52px;
    word-wrap: break-word;
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#logoutBtnSplit {
    flex: 1;
}


/* Content Style */

#content {
    height: calc(100vh - 68px - 40px);
    padding: 15px 10px;
}

section {
    display: none;
}


/* Login Form Style */

#loginHeading {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#loginMessage {
    color: red;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form * {
    margin: 5px 0;
    width: 70%;
    border: 0;
}

#loginBtnForLogin {
    width: initial;
}


/* Home Style */

#welcomeMessage {
    text-align: center;
}

#counter {
    display: flex;
    flex-direction: column;
}

#countdown {
    margin-left: 20px;
    align-self: flex-end;
}

#functionHeading {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #cccccc;
}

#functionsBox {
    padding: 5px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.functions {
    border-radius: 25px;
    margin: 10px 5px 0;
    padding: 10px;
    flex: 1;
    text-align: center;
    white-space: nowrap;
}


/* Password Manager Style */

#pwMgrHeading {
    text-align: center;
}

#searchBox {
    color: #aaaaaa;
    width: 100%;
}

#pwList {
    background-color: rgba(160, 231, 229, 0.2);
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px #cccccc;
    border-radius: 25px;
    display: flex;
}

#webList {
    height: calc(100vh - 67px - 15px - 62px - 62px - 35px - 39px);
    padding: 5px;
    border-right: 1px solid #cccccc;
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
}

.web {
    box-shadow: 0 0 10px #cccccc;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
}

#pwDetail {
    padding: 5px;
    height: calc(100vh - 67px - 15px - 62px - 62px - 35px - 39px);
    flex: 2;
    overflow-x: hidden;
    overflow-y: scroll;
}

.pwContent {
    background-color: rgba(180, 248, 200, 0.2);
    box-shadow: 0 0 10px #cccccc;
    padding: 10px 15px 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
}

.pw {
    background-color: rgba(160, 231, 229, 0.2);
    box-shadow: 0 0 10px #cccccc;
    margin-bottom: 5px;
}

.alertBoxBackground {
    background: rgba(0, 0, 0, 0.4);
    height: calc(100vh - 67px - 39px);
    width: 100%;
    position: absolute;
    top: 67px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.alertBox {
    background-color: #ffffff;
    padding: 5px 15px;
    border-radius: 25px;
    flex-wrap: wrap;
    margin: 0 100%;
}

.alertBox * {
    margin: 5px 0;
}


/* Password Saver Style */

#pwSaveHeading {
    text-align: center;
}

#pwSaveForm div {
    padding: 7px 0;
    display: flex;
    justify-content: space-between;
}

#pwSaveForm span {
    margin: auto 0;
}

#webSelectionForPwSave {
    width: calc(100% - 140px);
    border: 0;
}

#pwSaveForm .textField {
    width: calc(100% - 140px);
}


/* Password Creator Style */

#pwCreateHeading {
    text-align: center;
}

#pwGenForm span {
    margin-right: 2vw;
}

#pwGenSubmit {
    background-color: rgba(180, 248, 200, 0.2);
    box-shadow: 0 0 10px #cccccc;
    padding: 5px 10px;
    border: 0;
    border-radius: 25px;
}

#showPwForGen {
    width: 40%;
    min-width: 200px;
}

#genPwSaveForm div {
    padding: 7px 0;
    display: flex;
    justify-content: space-between;
}

#webSelectionForGenPw {
    width: calc(100% - 140px);
    border: 0;
}

#genPwSaveForm span {
    margin: auto 0;
}

#genPwSaveForm .textField {
    width: calc(100% - 140px);
}


/* Footer Style */

footer {
    background-color: rgba( 160, 231, 229, 0.2);
    box-shadow: -1px 0px 10px #cccccc;
    width: 100%;
    padding: 10px 20px;
    font-size: 12px;
    text-align: center;
    position: fixed;
    bottom: 0;
}


/* PC Style */

@media screen and (min-width: 650px) and (max-width: 999px) {
    #webNameSplit {
        flex: 1;
    }
    #logoutBtnSplit {
        flex: 1;
    }
    .box:hover {
        background-color: rgba(180, 248, 200, 0.2);
    }
    .pwContent:hover {
        background-color: rgba(160, 231, 229, 0.2);
    }
}

@media screen and (min-width: 1000px) {
    header {
        padding-left: calc((100vw - 1000px)/2);
        padding-right: calc((100vw - 1000px)/2);
    }
    #webNameSplit {
        width: 66px;
    }
    #logoutBtnSplit {
        flex: 1;
    }
    #content {
        padding-left: calc((100vw - 1000px + 20px)/2);
        padding-right: calc((100vw - 1000px + 20px)/2);
    }
    .box:hover {
        background-color: rgba(180, 248, 200, 0.2);
    }
    .pwContent:hover {
        background-color: rgba(160, 231, 229, 0.2);
    }
}


/* Dark mode */

@media (prefers-color-scheme: dark) {
    /* Page Style */
    * {
        color: #ffffff;
    }
    body {
        background-color: #1B2E3C;
    }
    .link {
        background-color: #1B2E3C;
        box-shadow: 0 0 0;
    }
    .link:hover {
        color: #F3E3E2;
        background-color: #74112F;
    }
    .box {
        background-color: #0C0C1E;
        box-shadow: 0 0 0;
    }
    .textField {
        background-color: #1B2E3C;
        box-shadow: 0 0 0;
    }
    button {
        background-color: #1B2E3C;
        box-shadow: 0 0 0;
        border: 2px solid #0C0C1E;
    }
    /* Header Style */
    header {
        background-color: #0C0C1E;
        box-shadow: 0 0 0;
    }
    /* Home Style */
    #functionHeading {
        border-bottom: 1px solid #333333;
    }
    /* Password Manager Style */
    #pwList {
        background-color: #0C0C1E;
        box-shadow: 0 0 0;
    }
    #webList {
        border-right: 1px solid #333333;
    }
    .web {
        box-shadow: 0 0 0;
    }
    .pwContent {
        background-color: #1B2E3C;
        box-shadow: 0 0 0;
    }
    .pw {
        background-color: #0C0C1E;
        box-shadow: 0 0 0;
    }
    .alertBox {
        background-color: #1B2E3C;
    }
    /* Password Creator Style */
    #pwGenSubmit {
        background-color: #1B2E3C;
        box-shadow: 0 0 0;
    }
    /* Footer Style */
    footer {
        background-color: #0C0C1E;
        box-shadow: -1px 0px 0;
    }
    @media screen and (min-width: 650px) {
        .box:hover {
            background-color: rgba(55, 62, 64, 0.95);
        }
        .pwContent:hover {
            background-color: rgba(55, 62, 64, 0.95);
        }
    }
}