/* Mobile Style */

@media screen and (max-width: 650px) {
    #webList {
        width: 110px;
        height: calc(100vh - 46px - 68px - 30px - 45px - 45px - 30px - 50px);
    }
    #pwDetail {
        height: calc(100vh - 46px - 68px - 30px - 45px - 45px - 30px - 50px);
    }
}


/* PC Style */

@media screen and (min-width: 650px) and (max-width: 999px) {
    #content {
        height: calc(100vh - 68px - 50px);
    }
    .box:hover {
        background-color: rgba(180, 248, 200, 0.2);
    }
    .pwContent:hover {
        background-color: rgba(160, 231, 229, 0.2);
    }
}

@media screen and (min-width: 1000px) {
    header {
        padding-left: calc((100vw - 1000px)/2);
        padding-right: calc((100vw - 1000px)/2);
    }
    #content {
        height: calc(100vh - 68px - 50px);
        padding-left: calc((100vw - 1000px + 20px)/2);
        padding-right: calc((100vw - 1000px + 20px)/2);
    }
    .box:hover {
        background-color: rgba(180, 248, 200, 0.2);
    }
    .pwContent:hover {
        background-color: rgba(160, 231, 229, 0.2);
    }
}