/* Password Saver Style */

#pwSaveHeading {
    text-align: center;
}

#pwSaveForm div {
    padding: 2px 0;
    display: flex;
    justify-content: space-between;
}

#pwSaveForm span {
    margin: auto 5px auto 0;
}

#webSelectionForPwSave {
    border: 0;
    -webkit-appearance: none;
}

#pwSaveForm .textField {
    width: calc(100% - 100px);
}